<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-K3JSPTM\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.ProjeConnectionString"
            connectionString="Data Source=DESKTOP-K3JSPTM\KURULUM;Initial Catalog=Proje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>